{% extends "base.html" %}
{% block content %}
<div class="pusher">
    <div class="ui divider"></div>
    <div class="ui equal width grid" style="margin:5px 0 5px 0;width:70%">
        <div class="row">
            <div class="column">
                <div class="ui container segment">
                    <div class="menu">
                        <select class="ui simple dropdown item" id="test">
                            {% for area in areas %}
                            <option value="{{area.id}}" class="item">{{area.name}}</option>
                            {% endfor%}
                        </select>
                        &nbsp;&nbsp;&nbsp;
                        <button class="ui teal basic button" id="yes">确定</button>
                    </div>
                    <div class="ui container" id="chart1"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        $("#test").change(function(){
            $.ajax({
                type : "post",
                url : "/bd/new_function",
                cache:false,
                data : {'area_id':$("#test").val()},
                dataType : "String"
            });
        });
    });
</script>
<script>
    $(function(){
        $("#test").change(function(){
            $.ajax({
                type : "get",
                url : "/bd/new_function",
                cache:false,
            });
        }
    }
</script>
<script>
    $('#test').click(function () {
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
<script>
    $('#test').change(function() {
        parent.location.reload()
    });

</script>
<script>
    $('#yes').click(function () {
        $('#chart1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '{{area_name}}房屋租金分布'
            },
            xAxis: {
                categories: ['低于600元', '600-1000元', '1000-1500元', '1500-2000元', '2000-3000元', '3000-5000元', '5000-8000元']
            },
            yAxis: {
                title: {
                    text: '{{area_name}}房屋租金分布'
                }
            },
            series: [
                {% if series %}
        {% for serie in series[:-1] %}
        {
            name: '{{serie['name']}}',
                data: [{{serie['data']}}]
        },
        {%endfor%}
        {
            name:'{{series[-1]['name']}}',
                data: [{{series[-1]['data']}}]
        }
        {% endif %}
        ]
    });
    });
</script>

{% endblock %}
