{% extends "base.html" %}
{% block content %}

<div class="row" style="overflow:hidden; text-overflow:ellipsis;">
    <div class="col-md-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">--</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>标题</th>
                        <th>描述</th>
                        <th>地址</th>
                        <th>区县</th>
                        <th>地铁线</th>
                        <th>发布日期</th>
                        <th style="width: 40px"></th>
                    </tr>
                    {% if rents %}
                    {% for f in rents %}
                    <div class="comment-date">{{ moment(f.date).fromNow() }}</div>
                    <tr>
                        <td>
                            {{f.id}}
                        </td>
                        <td>
                            <a href="/bd/view_rent?id={{f.id.data}}">
                                {{f.title}}dq
                            </a>
                        </td>
                        <td>
                            {{f.description}}
                        </td>
                        <td>
                            {{f.address}}
                        </td>
                        <td>
                            {{f.area.name}}
                        </td>
                        <td>
                            {{f.subway.name}}
                        </td>
                        <td>
                            {{f.date}}
                        </td>
                        <td>
                            <form action="" method="post" name="edit_school" onsubmit="return confirm('确认要提交吗?');">
                                <input type="hidden" name="id" value="{{f.id}}">
                                {% if current_user.role_id == 1%}<input type="submit" value="删除" name="delete">{% endif%}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </table>
    </div>
</div>






{% endblock %}
